/* ZERA TUDO ANTES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(60,150,200);
    padding: 30px;
    background-color: rgb(250,190,120);
}
main#album{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
section.column{
    flex: 1 1 100%;
    padding: 0 5px;
}
.products{
    background-color: #fefefe;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.products p{
    margin: 0;
    text-align: center;
    padding: 10px;
    color: rgb(60,150,200);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.products img{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    width: auto;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
    background-color: rgb(250,190,120);
    color: rgb(60,150,200);
    padding: 15px;
    text-align: center;
}